<fieldset class="fieldset">
  <legend>Basic Auth</legend>
  <div class="field">
    <%= f.text_field :basic_auth_username %>
  </div>
  <div class="field">
    <%= f.text_field :basic_auth_password %>
  </div>
</fieldset>
